################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HouseDB/v15
/IS4/bin/Debug/netcoreapp2.0
/IS4/obj
/IS4/logs
/IS4/appsettings.json
/IS4/tis.timdows.pfx
/Api/appsettings.json
/Exporter/.vs
/Exporter/bin
/.vs/config
/Exporter/logs
/Exporter/obj
/Exporter/appsettings.json
/Proxy/obj
/Proxy/bin/Debug/netcoreapp2.0
/Proxy/appsettings.json
/Proxy/bin/Release
/Proxy/Properties/PublishProfiles
/HouseDBCore/obj
/HouseDBCore/bin
/IS4/bin/Release/netcoreapp2.0
/HouseDB.Core/bin
/HouseDB.Core/obj
/HouseDB.IS4/bin
/HouseDB.IS4/logs
/HouseDB.IS4/obj
/HouseDB.IS4/tis.timdows.pfx
/HouseDB.Api/appsettings.json
/HouseDB.Exporter/.vs
/HouseDB.Exporter/bin
/HouseDB.Exporter/logs
/HouseDB.Exporter/obj
/HouseDB.Exporter/appsettings.json
/HouseDB.IS4/appsettings.json
/HouseDB.Proxy/bin
/HouseDB.Proxy/obj
/HouseDB.Proxy/appsettings.json
/HouseDB.Services/bin/Debug/netstandard2.0
/HouseDB.Services/obj
/HouseDB.Fitbit/bin/Debug/netcoreapp2.0
/HouseDB.Fitbit/obj
/HouseDB.Fitbit/Properties
*.user
/HouseDB.Fitbit/appsettings.json
/HouseDB.Trappers/obj
