################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HouseDB/v15
/IS4/bin/Debug/netcoreapp2.0
/IS4/obj
/IS4/logs
/IS4/appsettings.json
/IS4/tis.timdows.pfx
/Api/appsettings.json
/Exporter/.vs
/Exporter/bin
/.vs/config
/Exporter/logs
/Exporter/obj
/Exporter/appsettings.json
/Proxy/obj
/Proxy/bin/Debug/netcoreapp2.0
/Proxy/appsettings.json
