{
	"Serilog": {
		"WriteTo": [
			{
				"Name": "RollingFile",
				"Args": {
					"pathFormat": "logs/log-{Date}.txt"
				}
			}
		]
	},
	"FitbitSettings": {
		"ClientId": "abc",
		"ClientSecret": "1234",
		"CallbackUrl": "http://localhost:5012/callback",
		"AuthUrl": "https://www.fitbit.com/oauth2/authorize",
		"AccessAndRefreshUrl": "https://api.fitbit.com/oauth2/token"
	}
}
