{
	"Serilog": {
		"WriteTo": [
			{
				"Name": "RollingFile",
				"Args": {
					"pathFormat": "logs/log-{Date}.txt"
				}
			}
		]
	},
	"Database": {
		"ConnectionString": "server=;userid=;pwd=;port=3306;database=;sslmode=preferred;"
	}
}
